<!doctype html>
<html lang="en">
<head>
    <title>NUShare</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png">
    <link rel="manifest" href="./favicons/manifest.json">
    <link rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- <h1>Hello, world!</h1> -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script> -->
<!-- As a heading -->
<!-- Image and text -->
<!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand test" href="#">
    <img src="./images/h-DB52JO_400x400.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    NUShare
  </a>
</nav> -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid" style="background-color:#b30000;">
        <div class="navbar-header">
            <a class="navbar-brand" style="padding: 10px" href="#">
                <img src="./images/NEU_img.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
                <!-- NUShare -->
            </a>
            <a class="navbar-brand" href="/"><font color="FFFFFF"> NUShare </font></a>
            <p class="navbar-text pull-right test">
                <a href="/profile"><font color="FFFFFF">Profile</font></a> &nbsp;| &nbsp;<a href="/help"><font
                    color="FFFFFF">Help</font></a>
                &nbsp;| &nbsp; <a href="#"><font color="FFFFFF">Logout</font></a>
            </p>
            <!-- <a class="navbar-brand" href="#">Logo</a> -->
        </div>
        <!-- <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="inactive"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div> -->
    </div>
</nav>
<div class="container-fluid">
    <div class="row page-content">
        <div class="col-sm-3 sidenav border-right">
            <div class="card">
                <img class="card-img-top" src="./images/qmark.svg" alt="Card image" align=center style="margin-left: 63px">
                <div class="card-body">
                    <!--<h4 class="card-title">Help Page</h4>-->
                    <p class="h3" style="text-align: center">Help Page</p>
                </div>
            </div>
            <br><br>
            <div class="about">
                <h4> About</h4>
                <p>This page contains the answers to a number of frequently asked questions about NUShare in general. If
                    your question is not answered in this page please contact us.</p>
            </div>
            <br><br>
            <!--div class="quick-links">
            <h4>    QUICK LINKS</h4>
             <p><span><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;&nbsp;<a href="#">Reviews by my friends</a></span> </p>
             <p><span><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;&nbsp;<a href="#">Recent Reviews</a></span></p>
           </div-->
        </div>
        <div class="col-sm-9 main-content text-left">
            <div class="row search-review">
                <div class="col-sm-9">
                    <input type="text" placeholder="Search for a keyword..." class="form-control">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-danger btn-block"><i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Search
                    </button>
                </div>
            </div>
            <div class="reviews-list">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10"><h4>Help Information about this site!</h4></div>
                </div>
                <div class="row">
                    <!--div class="col-sm-2 display-pic">
                       <img src="./images/profile-pic.jpg" class="img-thumbnail"></img>
                    </div-->
                    <div class="col-sm-10 review-text">
                        <!--i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i-->
                        <h5>What is NUShare?</h5>
                        <p>“NUShare” is an online portal designed for the students at Northeastern University to connect
                            with other students on campus and help to ease their study-life. It is a customized form of
                            social media with features that enable students to have easy access to resources in a quick,
                            organized and efficient manner.
                            NUShare has two main functionalities, Housing Reviews and Book-Share.</p>
                    </div>
                </div>
                <div class="row">
                    <!--div class="col-sm-2 display-pic">
                       <img src="./images/profile-pic.jpg" class="img-thumbnail"></img>
                    </div-->
                    <div class="col-sm-10 review-text">
                        <!--i class="glyphicon glyphicon-star"></i-->
                        <h5>Who is NUShare for?</h5>
                        <p>NUShare is basically designed for students studying at Northeastern University in order to
                            have access to resources currently not provided by the university website.</p>
                    </div>
                </div>
                <div class="row">
                    <!--div class="col-sm-2 display-pic">
                       <img src="./images/profile-pic.jpg" class="img-thumbnail"></img>
                    </div-->
                    <div class="col-sm-10 review-text">
                        <!--i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i-->
                        <h5>How is BookShare helpful for our users?</h5>
                        <p>Book-Share is a resource that the user can use to borrow textbooks from other students
                            studying in Northeastern, in case it is unavailable in the library or too expensive to be
                            brought online. A student can also post a book for lending.</p>
                    </div>
                </div>
                <div class="row">
                    <!--div class="col-sm-2 display-pic">
                       <img src="./images/profile-pic.jpg" class="img-thumbnail"></img>
                    </div-->
                    <div class="col-sm-10 review-text">
                        <!--i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i-->
                        <h5>How useful are the Housing Reviews mentioned on NUShare to our users?</h5>
                        <p>Housing Reviews page consists honest reviews about various apartments and neighbourhoods near
                            Northeastern University that the students can refer while renting out apartments. A student
                            can also write a review and help out fellow students in their house hunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>